name: Create and publish a Docker image to GitHub Container Registry & DockerHub

on:
  workflow_dispatch:
    inputs:
      caller:
        description: 'The invoker of the workflow'
        required: false
        default: ''
  push:
    branches: ['main']

env:
  DHUB_IMAGE_NAME: bdwyertech/skopeo
  GHCR_IMAGE_NAME: ghcr.io/bdwyertech/skopeo

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - prefix: ''
    permissions:
      contents: read
      packages: write
      id-token: write  # Required for provenance metadata
      security-events: write # For Scan results

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Parameters
        id: params
        run: |
          echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ${{ env.DHUB_IMAGE_NAME }}
            ${{ env.GHCR_IMAGE_NAME }}
          labels: |
            org.opencontainers.image.title=${{ env.DHUB_IMAGE_NAME }}
          flavor: |
            latest=true
            prefix=${{ matrix.prefix }},onlatest=true
          tags: |
            type=sha,enable=true,priority=100,prefix=${{ matrix.prefix }}${{ steps.params.outputs.date }}--,suffix=,format=short

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          # build-args: ANSIBLE=${{ matrix.ansible }}
          provenance: true
          sbom: true
 
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: ${{ env.GHCR_IMAGE_NAME }}:${{ matrix.prefix }}${{ steps.params.outputs.date }}--${{ steps.params.outputs.sha_short }}
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'
  
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'
          category: 'container-security'
